# Ignore .DS_Store
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# Produced vignettes
*.html
*.pdf
*.Rmd.html

# OAuth2 token
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
cache/
files/

# Specific folder to ignore
Lotic_synch_spline_correlogram_files/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Quarto revealjs figures
figure-revealjs/

# Another specific folder to ignore
Lotic_synch_files/

# Image files
*.png

